comment "--------------------------------------------------------"
comment "COPYRIGHT(C) FUJITSU TEN LIMITED 2012                   "
comment "--------------------------------------------------------"

config FJFEAT_PRODUCT_ADA3S
	bool "FJFEAT_PRODUCT_ADA3S"

config FJFEAT_PRODUCT_ADA1M
	bool "FJFEAT_PRODUCT_ADA1M"

config FJFEAT_PRODUCT_ADA2S
	bool "FJFEAT_PRODUCT_ADA2S"

config FJFEAT_PRODUCT_ADA1S
	bool "FJFEAT_PRODUCT_ADA1S"

config FJFEAT_PRODUCT_BRANDYK
	bool "FJFEAT_PRODUCT_BRANDYK"

config FJFEAT_PRODUCT_IRUKAD
	bool "FJFEAT_PRODUCT_IRUKAD"

config FJFEAT_PRODUCT_LYCHEE
	bool "FJFEAT_PRODUCT_LYCHEE"

config FJFEAT_PRODUCT_BACURAJW
	bool "FJFEAT_PRODUCT_BACURAJW"

config FJFEAT_PRODUCT_BACURA
	bool "FJFEAT_PRODUCT_BACURA"

config FJFEAT_PRODUCT_NADESHIKO
	bool "FJFEAT_PRODUCT_NADESHIKO"

config FJFEAT_PRODUCT_SWORDFISH
	bool "FJFEAT_PRODUCT_SWORDFISH"

config FJFEAT_PRODUCT_ACEROLA
	bool "FJFEAT_PRODUCT_ACEROLA"

config FJFEAT_PRODUCT_GENERIC_12F_8X55
	bool "FJFEAT_PRODUCT_GENERIC_12F_8X55"

config FJFEAT_PRODUCT_ARCHERYK
	bool "FJFEAT_PRODUCT_ARCHERYK"

config FJFEAT_PRODUCT_ARCHERYD
	bool "FJFEAT_PRODUCT_ARCHERYD"

config FJFEAT_PRODUCT_TATOOINES
	bool "FJFEAT_PRODUCT_TATOOINES"

config FJFEAT_PRODUCT_TATOOINED
	bool "FJFEAT_PRODUCT_TATOOINED"

config FJFEAT_PRODUCT_GENERIC_12F_TEGRA3
	bool "FJFEAT_PRODUCT_GENERIC_12F_TEGRA3"

config FJFEAT_PRODUCT_GENERIC_12F_8960
	bool "FJFEAT_PRODUCT_GENERIC_12F_8960"

config FJFEAT_PRODUCT_ICS_NEXTI
	bool "FJFEAT_PRODUCT_ICS_NEXTI"

config FJFEAT_PRODUCT_APOLLOK
	bool "FJFEAT_PRODUCT_APOLLOK"

config FJFEAT_PRODUCT_APOLLOD
	bool "FJFEAT_PRODUCT_APOLLOD"

config FJFEAT_PRODUCT_BIGBEN
	bool "FJFEAT_PRODUCT_BIGBEN"

config FJFEAT_PRODUCT_SKYTREE
	bool "FJFEAT_PRODUCT_SKYTREE"

config FJFEAT_PRODUCT_TRIUMPH
	bool "FJFEAT_PRODUCT_TRIUMPH"

config FJFEAT_PRODUCT_SHARD
	bool "FJFEAT_PRODUCT_SHARD"

choice
	prompt  "MACRO" 
	default FJFEAT_CARRIER_OTHER

config FJFEAT_CARRIER_SOFTBANK
	bool "FJFEAT_CARRIER_SOFTBANK"

config FJFEAT_CARRIER_KDDI
	bool "FJFEAT_CARRIER_KDDI"

config FJFEAT_CARRIER_DOCOMO
	bool "FJFEAT_CARRIER_DOCOMO"

config FJFEAT_CARRIER_OTHER
	bool "FJFEAT_CARRIER_OTHER"

endchoice


choice
	prompt  "MACRO" 
	default FJFEAT_PLATFORM_TEGRA

config FJFEAT_PLATFORM_TEGRA
	bool "FJFEAT_PLATFORM_TEGRA"

config FJFEAT_PLATFORM_OMAP
	bool "FJFEAT_PLATFORM_OMAP"

config FJFEAT_PLATFORM_QUALCOMM
	bool "FJFEAT_PLATFORM_QUALCOMM"

endchoice


choice
	prompt  "MACRO" 
	default FJFEAT_OS_ICECREAMSANDWICH

config FJFEAT_OS_ICECREAMSANDWICH
	bool "FJFEAT_OS_ICECREAMSANDWICH"

config FJFEAT_OS_GINGERBREAD
	bool "FJFEAT_OS_GINGERBREAD"

endchoice

config FJFEAT_ADA_KERN_LOG_NOTICE
	bool "FJFEAT_ADA_KERN_LOG_NOTICE"

config FJFEAT_ADA_KERN_LOG_INFO
	bool "FJFEAT_ADA_KERN_LOG_INFO"

config FJFEAT_ADA_KERN_LOG_DEBUG
	bool "FJFEAT_ADA_KERN_LOG_DEBUG"

config FJFEAT_ADA_KERN_LOG_TRACE
	bool "FJFEAT_ADA_KERN_LOG_TRACE"

config FJFEAT_ADA_OPROFILE_PMU_INITIALIZE
	bool "FJFEAT_ADA_OPROFILE_PMU_INITIALIZE"
